.carousel {
    display: flex;
    height: 100vh;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5rem;

    &__img {
        width: 80%;
        max-width: 80%;
        background-position: center;
        border-top: 1px solid #ccc;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
}